/* reset定义一些默认样式 */

* {
  /* 设置盒子大小与边框大小一致 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


/* 1920屏幕rem单位 */
@media screen and (max-width: 1919px) and (min-width:1367) {
  html {
    font-size: 10px;
  }

}

/* 1366屏幕rem单位 */
@media screen and (max-width: 1366px) {
  html {
    font-size: 7px;
  }


}
